<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.haru.mapper.BoardAttachMapper">
  <!-- 	게시판 글번호에 따른 첨부파일 목록 불러오기 -->
  	<select id="findByBno" resultType="com.haru.domain.BoardAttachDTO">
  		<![CDATA[
  		SELECT * FROM tbl_attach WHERE bno = #{bno}
  		]]>
  	</select>
  	
  	<!-- 하루전 등록된 첨부파일 목록 불러오기(등록되지않은 파일 지우기 위함) -->
  	<select id="getOldFiles" resultType="com.haru.domain.BoardAttachDTO">
  		<![CDATA[
  		SELECT * FROM tbl_attach 
		WHERE uploadPath = 
		DATE_FORMAT(ADDDATE(NOW(), INTERVAL -1 DAY),'%Y/%m/%d');
  		]]>
  	</select>
  
  	<insert id="insert">
  		INSERT INTO tbl_attach(uuid,uploadPath,fileName,fileType,bno)
  		VALUES(#{uuid},#{uploadPath},#{fileName},#{fileType},#{bno})
  	</insert>
  	<delete id="delete">
  		DELETE FROM tbl_attach
  		WHERE uuid = #{uuid}
  	</delete>
  </mapper>